html, body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  max-width: 40em;
  margin: 0 auto;
  color: #333;
  background: #fff;
  display: table;
}

#content {
  display: table-cell;
  vertical-align: middle;
}

a {
  color: #000;
  text-decoration: none;
  border-bottom: 2px solid #eee;
}

.links {
  text-align: center;
}
